body{
    text-align: center;
    margin-top: 200px;
    border: 3px solid black;
    padding: 50px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    cursor: pointer;
    background: rgb(85, 255, 238);
    border-radius: 5px;
}